body {
    background-color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    background: url(Képek/Bagossy_logo.jpg) left repeat-y, url(képek/Bagossy_logo.jpg) right repeat-y;
}

h1 {
    color:rgb(133, 96, 4);
    text-align: center;
    font-size: 250%;
}

h2 {
    text-transform: uppercase;
}

h2, h3 {
    color:rgb(133, 96, 4);
    font-style: italic;
}

#keszito {
    text-align: right;
    font-stretch:extra-expanded;
    letter-spacing: 5px;
}

#olyano {
    background-color: rgba(218, 165, 32, 0.4);
    height: fit-content;
    width: fit-content;
    border-left: 5px solid goldenrod;
}

.pagelist {
    list-style-image: url('music-note.png');
}

#fejlec {
    text-align: center;
    width: auto;
    margin: -10px 192px;
}
#fejlec ul {
    background-color: #242424;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

#fejlec li {
    display: inline;
}

#fejlec li a{
        display: inline-block;
        color: goldenrod;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16pt;
        padding: 20px 60px;
}

#fejlec li a:hover {
    background-color: indigo;
}

#tartalom {
    margin: 10px 210px;
    color: #242424;
}

.jobbra {
    float: right;
}

#cetli {
    width: 200px;
    height: auto;
    margin: 0 170px 0 20px;
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    background-color: rgba(255, 215, 0, 0.5);
    box-shadow: 5px 6px 6px grey; color: darkgrey;
    color: #242424;
}

#insta li a {
    background-color: transparent;
}

#insta li a:hover {
    color: #242424;
    font-weight: 650;
    background-color: transparent;
}


#tartalom a {
    color: #242424;
    background-color: rgba(245, 222, 179, 0.3);
    text-decoration: none;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#tartalom a:hover {
    color: rgb(133, 96, 4);
    background-color: rgba(245, 222, 179, 0.5);
    text-decoration: underline;
}

#slagerlista {
    list-style-type: none;
    margin-left: -20px;
}

#slagerlista li {
    margin: 3px 0;
}