body {
    background-color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    background: url(Képek/Bagossy_logo.jpg) left repeat-y, url(képek/Bagossy_logo.jpg) right repeat-y;
}

h1 {
    color:rgb(133, 96, 4);
    text-align: center;
    font-size: 250%;
}

h2 {
    text-transform: uppercase;
}

h2, h3 {
    color:rgb(133, 96, 4);
    font-style: italic;
}

#keszito {
    text-align: right;
    font-stretch:extra-expanded;
    letter-spacing: 5px;
}

#olyano {
    background-color: hsla(30, 59%, 53%, 0.4);
    height: fit-content;
    width: fit-content;
    border-left: 5px solid peru;
}

.pagelist {
    list-style-image: url('music-note.png');
}

#fejlec {
    text-align: center;
    width: auto;
    margin: -10px 192px;
}

#fejlec ul {
    background-color: #242424;
    text-align: center;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

#fejlec li {
    display: inline;
}

#fejlec li a{
        display: inline-block;
        color: goldenrod;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16pt;
        padding: 20px 60px;
}

#fejlec li a:hover {
    background-color: indigo;
}

#tartalom {
    margin: 10px 210px;
    color: #242424;
}